@import url('https://fonts.googleapis.com/css?family=Turret+Road&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --logo-font: 'Turret Road', cursive;
  --main-color: #bc2b45;
  --second-color: #A16F9D;
  --third-color: #2D4480;
  --yellow-color: #E3D984;
  --green-color: #7ca981;
  --dark-color: #111;
  --light-color: ivory;
  --max-width: 1100px;
}

body {
  /* background: var(--dark-color); */

}

a {
  text-decoration: none;
  color: var(--light-color);
}

img {
  width: 100%;
}

li {
  list-style-type: none;
}

p {
  line-height: 1.5;
}

/* Utility */

.btn {
  font-size: 1.2rem;
  padding: .5rem 1rem;
  border-radius: 20px;
  display: inline-block;
  transition: all .3s ease;
  
}

.btn-book {
  background: var(--main-color);
  box-shadow: 0 3px 16px var(--main-color);
  opacity: 0.8;
}

.btn-game {
  background: #A880C0;
  box-shadow: 0 3px 10px rgb(94, 34, 129);
  opacity: 0.8;

}

.btn-random {
  background: rgb(66, 79, 155);
  box-shadow: 0 3px 10px rgb(23, 52, 95);
  opacity: 0.8;
}

.btn:hover {
  box-shadow: 0 2px 5px rgb(79, 82, 90);
  transform: translateY(3%);
}

.btn:active {
  box-shadow: none;
  transform: translateY(4%);
}

.container {
  display: grid;
  width: var(--max-width);
  margin: 2rem auto;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;

}

.card {
  width: 300px;
  text-align: center;
  padding: 1rem;
  box-shadow: 0 4px 10px var(--dark-color);
  background: var(--dark-color);
  color: var(--light-color);
  transition: all 1s ease;
  z-index: -1;
}

.card:nth-child(even) {
  animation: even .5s ease 1;
}

.card:nth-child(odd) {
  animation: odd .5s ease 1;
}

@keyframes even {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }

  80% {
    transform: translateY(20%);
    opacity: .8;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes odd {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }

  80% {
    transform: translateY(-20%);
    opacity: .8;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Header */

#header {
  width: 100%;
  height: 50vh;
  /* background: linear-gradient(to right, var(--main-color), var(--second-color),var(--third-color)); */
  background: var(--dark-color);
  color: var(--light-color);
  z-index: 1;
}

#header .nav-bar {
  width: 100%;
  padding-top: 1rem;
}

#header .nav-bar ul {
  display: flex;
  justify-content: center;
}

#header .nav-bar ul li {
  padding: 0 1rem;
}

#header .nav-bar ul li a {
  color: var(--light-color);
  font-size: 1.3rem;
}

#header .nav-bar ul li:nth-child(1) {
  color: var(--third-color);
}

#header .search-container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: var(--max-width);
  margin: 0 auto;
}

#header .search-container h1 {
  font-family: var(--logo-font);
  padding-bottom: 2rem;
}

#header .search-container input {
  margin: 1rem 0;
  width: 100%;
  display: block;
  padding: .5rem;
  border-radius: 20px;
}

#header .search-container .submit {
  margin: 1rem 0;
}

#header .search-container .submit a {
  margin: 0 1rem;

}

/* Books */

#books {
  width: 100%;
  height: 100%;
}

#books .container .card .title {
  font-size: 1rem;
}

#books .container .card img {
  margin: .5rem 0;
}

/* Productive */

#productive {
  width: 100%;
}

#productive .pContainer {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  flex: 1;
  max-width: 50%;
  margin: 0 auto;
  padding: 3rem;
  height: 100%;
  align-items: center;
}

#productive .pContainer .bPic {
  width: 200px;
  margin: 0 1rem;
}

#productive .pContainer .content {
  justify-items: center;
  height: 100%;
}


/* Nav-bar */
#navB {
  margin-bottom: 1rem;

}

#nav-bar {
  background: var(--dark-color);
  color: var(--light-color);
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
  border-bottom: 5px solid var(--main-color);
}

#nav-bar .logo {
  font-family: var(--logo-font);
  margin: 0 2rem;
}

#nav-bar .nav-list {
  margin: 0 1rem;
  font-size: 1.2rem;
}


/* Single Page */

#single-page {
  height: 100vh;
}

body{
  background-image:url(images/pokemon.png);
  background-attachment: fixed;
  
}
#header{
  opacity:0.7;
  position:center;
}
.btn{
  opacity: 1;
}
/* Mobile-first layout*/
@media(max-width:500px) {
  #header{
    align-items: center;
  }
#header .search-container {
  text-align: center;
  float: center;
  width: 20.33%;
  }

  #header .search-container h1 {
    font-size:1rem;
  }

}
.column{
  width:100%
}
@media (min-width: 50em) {
	.column {
		float: center;
		width: 50%;
	}
}
@media (min-width: 75em) {
	.column {
		width: 33.33%;
	}
}