@import url('https://fonts.googleapis.com/css?family=Turret+Road&display=swap');

*{
  padding:0;
  margin: 0;
  box-sizing: border-box;
}

:root{
  --logo-font: 'Turret Road', cursive;
  --main-color: #bc2b45;
  --second-color: #A16F9D;
  --third-color:#2D4480;
  --yellow-color:#E3D984;
  --green-color:#7ca981;
  --dark-color: #111;
  --light-color: ivory;
  --max-width: 1100px;
}

body{
  padding: 1.3rem;
  background: var(--dark-color);

}

a{
  text-decoration: none;
  color:var(--light-color);
}

img{
  width: 100%;
}

/* Utility */

.btn{
  font-size: 1.2rem;
  padding: .5rem 1rem;
  border-radius: 20px;
  display: inline-block;
  transition: all .3s ease;
}

.btn-book{
  background:var(--main-color);
  box-shadow: 0 3px 16px var(--main-color);
}

.btn-game{
  background: #A880C0;
  box-shadow: 0 3px 10px rgb(94, 34, 129);
  
}
.btn-random{
  background: rgb(66, 79, 155);
  box-shadow: 0 3px 10px rgb(23, 52, 95);
}

.btn:hover {
  box-shadow: 0 2px 5px rgb(79, 82, 90);
  transform: translateY(3%);
}

.btn:active{
  box-shadow: none;
  transform: translateY(4%);
}

.container{
  display: grid;
  width: var(--max-width);
  margin: 2rem auto;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 2rem;
  
}

.card{
  width: 300px;
  text-align: center;
  padding: 1rem;
  box-shadow: 0 4px 10px var(--dark-color);
  background: var(--dark-color);
  color: var(--light-color);
  transition: all 1s ease;
  z-index: -1;
}

.card:nth-child(even){
  animation: even .5s ease 1;
}

.card:nth-child(odd){
  animation: odd .5s ease 1;
}

@keyframes even{
  0%{
    transform: translateY(-100%);
    opacity: 0;
  }
  80%{
    transform:translateY(20%);
    opacity:.8;
  }
  100%{
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes odd{
  0%{
    transform: translateY(100%);
    opacity: 0;
  }
  80%{
    transform:translateY(-20%);
    opacity:.8;
  }
  100%{
    transform: translateY(0);
    opacity: 1;
  }
}

/* Header */

#header{
  width: 100%;
  height:50vh;
  background: linear-gradient(to right, var(--main-color), var(--second-color),var(--third-color));
  border-radius: 20px;
  z-index: 1;
}


#header .search-container{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: var(--max-width);
  margin: 0 auto;
}

#header .search-container h1{
  font-family: var(--logo-font);
  padding-bottom: 2rem;
}

#header .search-container input{
  margin: 1rem 0;
  width: 100%;
  display: block;
  padding: .5rem;
  border-radius: 20px;
}

#header .search-container .submit{
  margin: 1rem 0;
}

#header .search-container .submit a{
  margin: 0 1rem;
  
}

/* Books */

#books{
  width: 100%;
  height: 100%;
}

#books .container .card .title{
  font-size: 1rem;
}

#books .container .card img{
  margin: .5rem 0;
}


