@import url('https://fonts.googleapis.com/css?family=Turret+Road&display=swap');
@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');
@import url('https://fonts.googleapis.com/css?family=Patua+One&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --logo-font: 'Turret Road', cursive;
  --main-color: #bc2b45;
  --second-color: #A16F9D;
  --third-color: rgb(128, 45, 45);
  --yellow-color: #E3D984;
  --green-color: #7ca981;
  --dark-color: black;
  --light-color: ivory;
  --max-width: 1000px;
}


body{
  background: rgb(132,90,158);
  background: linear-gradient(90deg, rgba(132,90,158,1) 1%, rgba(39,132,170,1) 78%, rgba(38,27,45,1) 100%);
  background-attachment: fixed;
    
}



a {
  text-decoration: none;
  color: var(--light-color);
}

img {
  width: 100%;
  height: 100%;
}

li {
  list-style-type: none;
}

p {
  line-height: 1.5;
}

/* Utility */

.btn {
  font-size: 1.2rem;
  padding: .5rem 1rem;
  border-radius: 20px;
  display: inline-block;
  transition: all .3s ease;
  outline: none;
  border: none;
}

.btn-book {
  background: var(--main-color);
  box-shadow: 0 3px 16px var(--main-color);
  opacity: 0.8;
}

.btn-game {
  background: #A880C0;
  box-shadow: 0 3px 10px rgb(94, 34, 129);
  opacity: 0.8;

}

.btn-random {
  background: rgb(66, 79, 155);
  box-shadow: 0 3px 10px rgb(23, 52, 95);
  opacity: 0.8;
  color: var(--light-color);
}

.btn:hover {
  box-shadow: 0 2px 5px rgb(79, 82, 90);
  transform: translateY(3%);
}

.btn:active {
  box-shadow: none;
  transform: translateY(4%);
}

.container {
  display: grid;
  width: var(--max-width);
  margin: 2rem auto;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  padding-bottom: 100px;
  padding-left: 120px;
}

.card {
  width: 100%;
  text-align: center;
  padding: 1rem;
  box-shadow: 0 4px 10px gray;
  background:black;
  color: rgb(208, 219, 219);
  transition: all 1s ease;
  /* z-index: -1; */
}

.card:nth-child(even) {
  animation: even .5s ease 1;
}

.card:nth-child(odd) {
  animation: odd .5s ease 1;
}

@keyframes even {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }

  80% {
    transform: translateY(20%);
    opacity: .8;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes odd {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }

  80% {
    transform: translateY(-20%);
    opacity: .8;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Header */

#header {
  width: 100%;
  height: 50vh;
  background: rgb(132,90,158);
  background: linear-gradient(90deg, rgba(132,90,158,1) 1%, rgba(39,132,170,1) 78%, rgba(38,27,45,1) 100%); 
  color: var(--light-color);
  z-index: 1;
  font-family: 'Comfortaa', cursive;
}

#header .nav-bar {
  width: 100%;
  padding-top:1rem;

}

#header .nav-bar ul {
  display: flex;
  justify-content: center;
}

#header .nav-bar ul li {
  padding: 0 1rem;
}

#header .nav-bar ul li a {
  color: var(--light-color);
  font-size: 1.3rem;
}

#header .nav-bar ul li:nth-child(1) {
  color: var(--third-color);
}

#header .search-container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: var(--max-width);
  margin: 0 auto;
}

#header .search-container h1 {
  font-family: var(--logo-font);
  padding-bottom: 2rem;
}

#header .search-container input {
  margin: 1rem 0;
  width: 100%;
  align-items: center;
  display: block;
  padding: .5rem;
  border-radius: 20px;
}

#header .search-container .submit {
  margin: 1rem 0;
}

#header .search-container .submit a {
  margin: 0 1rem;

}

/* Books */

#books {
  width: 300px;
  height: 450px;
  padding-bottom: 600px;
  padding-left: 0px ;
  padding-right: 0px;
  padding-top: 0px;
}

#books .container .card .title {
  font-size: 30px;
}

#books .container .card img {
  margin: .5rem 0;
  width: 100px;
  height: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;

}

/* Productive */

#productive {
  width: 100%;
}

#productive .pContainer {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  flex: 1 1;
  padding: 3rem;
  height: 100%;
  align-items: center;
}

#productive .pContainer .bPic {
  width: 200px;
  margin: 0 1rem;
}

#productive .pContainer .content {
  justify-items: center;
  height: 100%;
}


/* Nav-bar */
#navB {
  margin-bottom: 0rem;

}

#nav-bar {
  background: rgb(132,90,158);
  background: linear-gradient(90deg, rgba(132,90,158,1) 1%, rgba(39,132,170,1) 78%, rgba(38,27,45,1) 100%);
  color: var(--light-color);
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
  border-bottom: 5px  rgb(100, 19, 19);
}

#nav-bar .logo {
  font-family: var(--logo-font);
  margin: 0 2rem;
}

#nav-bar .nav-list {
  margin: 0 1rem;
  font-size: 1.2rem;
}


/* Single Page */

#single-page {
  height: 121vh;
  border-color: chocolate;
  border-top: 30px;
  background: black;
  color: rgb(197, 197, 99);
}


#header{
  opacity:0.7;
  position:center;
}
.btn{
  opacity: 1;
}
 
/*--------------MEDIA QUERIES------------/* 
Responsive desktop*/-----------------------------------

 @media (min-width: 1281px) {
  #header{
    align-items: center;
  }
  #header .search-container{
    text-align: center;
    float:center;
    width: 90%;
  }
  #header .search-container h1{
    font-size:1.5rem;
  }
  .container {
    display: grid;
    width: var(--max-width);
    margin: 2rem auto;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    padding-bottom: 100px;
    padding-left: 120px;
  }
  
  .card {
    width: 100%;
    text-align: center;
    padding: 1rem;
    box-shadow: 0 4px 10px gray;
    background:black;
    color: rgb(208, 219, 219);
    transition: all 1s ease;
    z-index: -1;
  }
  
  #books {
    width: 300px;
    height: 450px;
    padding-bottom: 600px;
    padding-left: 0px ;
    padding-right: 0px;
    padding-top: 0px;
  }
  

    }


  /* 
Responsive Desktops,Laptops---------------------------------------
  */

  @media (min-width: 1025px) and (max-width: 1280px) {
    #header{
    align-items: center;
    }
    #header .search-container{
    text-align: center;
    float:center;
    width: 79.33%;
    }
    #header .search-container h1{
    font-size:1.5rem;
    }
    .container {
      display: grid;
      width: var(--max-width);
      margin: 2rem auto;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 2rem;
      padding-bottom: 100px;
      padding-left: 120px;
    }
    
    .card {
      width: 85%;
      text-align: center;
      padding: 1rem;
      box-shadow: 0 4px 10px gray;
      background:black;
      color: rgb(208, 219, 219);
      transition: all 1s ease;
      z-index: -1;
    }
    
    .container .img{
    width: 100%;
    height: auto;
    }
          
    }
    

    /* 
  Responsive Tablets,Ipads-----------------------------
   */  
  @media (min-width: 768px) and (max-width: 1024px){
    #header{
    align-items: center;
    width:100%;
    }
    #header .search-container{
    text-align: center;
    float:center;
    width: 79.33%;
    }
    #header .search-container h1{
    font-size:1.5rem;
    }
    .container {
      display: grid;
      width: var(--max-width);
      margin: 2rem auto;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 2rem;
      padding-bottom: 100px;
      padding-left: 120px;
    }
    
    .card {
      width: 80%;
      text-align: center;
      padding: 1rem;
      box-shadow: 0 4px 10px gray;
      background:black;
      color: rgb(208, 219, 219);
      transition: all 1s ease;
      z-index: -1;
    }
      
    #books {
      width: 300px;
      height: 450px;
      padding-bottom: 300px;
      padding-left: 0px ;
      padding-right: 0px;
      padding-top: 0px;
      align-items: center;
    }     
    }


    /* 
Responsive mobile--------------------------------------
*/
  @media (min-width: 481px) and (max-width: 767px){
    #header{
    align-items: center;
    width: 100%;
    }

    #books {
      width: 100px;
      height: 550px;
      padding-bottom: 600px;
      padding-left: 0px ;
      padding-right: 0px;
      padding-top: 0px;
    }
    
    #Body{
    width:70%;
    }
    #header .search-container{
    text-align: center;
    float:center;
    width: 79%;
    }
    #header .search-container h1{
    font-size:1.5rem;
    }
    .container {
    display: grid;
    width: 90%;
    margin: 2rem auto;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 2rem;
    padding-bottom: 100px;
    padding-left: 100px;
  }
            
  .card {
  width: 350px;
  text-align: center;
  padding: 1rem;
  box-shadow: 0 4px 10px var(--dark-color);
  background: black;
  color: var(--light-color);
  transition: all 1s ease;
  z-index: -1;

}
          
 .container .img{
  width: 100%;
  height: auto;
 }
 
 #single-page {
  height: 225vh;
  border-color: chocolate;
  border-top: 30px;
  background: rgb(214,219,186);
  background: black;
  color: rgb(197, 197, 99);
}

 }
          
    
figure {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 290px;
  height: 395px;
  padding: 20px 20px;
  background-image: url("https://images.pexels.com/photos/1368382/pexels-photo-1368382.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
  overflow: hidden;

}
figure:before, figure:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

}
figure:before {
  content: "";
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 0;
}
figure:after {
  content: "";
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
  overflow: hidden;
}


figure .date {
  position: absolute;
  bottom: 0;
  right: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  background-color: rgba(241, 196, 15, 0.8);
  text-shadow: 1px 1px rgba(0, 0, 0, 0.7);
  transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
}
figure .date span {
  color: whitesmoke;
  line-height: 1;
}
figure .date span:first-child {
  font-family: "Source Code Pro", sans-serif;
  font-size: 20px;
  font-weight: 900;
}
figure .date span:last-child {
  font-size: 14px;
  font-weight: 400;
}
figure figcaption {
  color: white;
  transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
  z-index: 1;
}
figure figcaption h4 {
  margin: 0 0 5px;
  font-family: "Source Code Pro", sans-serif;
  font-size: 24px;
  line-height: 1.35;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.7);
}
figure figcaption h4 > span {
  background-color: rgba(241, 196, 15, 0.8);
}
figure figcaption p {
  margin: 0;
  line-height: 1.5;
  
}
.book-card{
  width:395px;
  flex: 1;
  padding: 10x;
  transform: translateX(10px) rotateY(25deg) rotateX(10deg);
  
  

}

figure:hover {
  background-size: 175%;
  background-color: rgba(241, 196, 15, 0.8);
}



/*book */


#books, #game{
float: left;
width: 400px;
height: 350px;
position: relative;
margin:1rem 2rem;
display: flex;
justify-content: space-between;
}

.back-content{
  padding:1rem;
  overflow: auto;
}
.front{
  position: absolute;
  width: 100%;
  height:100%;
  z-index:1;
  transition: all 0.5s ease;
}

.back{
  background:ivory;
  background-color: rgb(216, 213, 213);
  border: 5px solid #222;
  position: absolute;
  width: 100%;
  height:100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items:center;
  flex-flow: column nowrap;
  text-align: center;
  line-height: 1.5;
  overflow: hidden;
}

#books .front{
    transform: rotateY(0deg);
    transform-origin: left;
    transition: all 1s ease;
}

#books:hover .front{
    transform: rotateY(180deg);
}

#books .back-content{
    transform: scale(0);
    opacity: 0;
    transition: all .5s ease;
}

#books:hover .back-content{
    opacity: 1;
    transform: scale(1);
}

#books .back .back-content .title,#books .back .back-content .author,#books .back .back-content .description{
  margin: 1rem 0;
}

#books .back .back-content .description{
  line-height: 1.5;
}


/* game hover */
#game .front{
  opacity:1;
}

#game:hover .front{
  opacity:0;
}

#game .back-content{
  transform:scale(0);
  transition:all 1s ease;
}

#game:hover .back-content{
  transform:scale(1);
  z-index: 1;
}

#game .see{
  position: absolute;
  width: 25%;
  height:100%;
  left: 0;
  top: 0;
  transition: all 1s ease;
  transform: scale(0,1);

}

#game .back .see-container .see:nth-child(2){
  left:calc(25%);
  background: var(--main-color);
}
#game .back .see-container .see:nth-child(3){
  left:calc(50%);
  background: var(--main-color);
}
#game .back .see-container .see:nth-child(4){
  left:calc(75%);
  background: var(--yellow-color);
} 

#game:hover .back .see-container .see{
  transform: scale(1,1);
  background: rgba(132,90,158,1);

}


/* clear */

.contnent-container{
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

/* form */

.form-container {
  display: flex;
  flex-flow:column wrap;
  justify-content: center;
  text-align: center;
  height: 100%;
  font-family: 'Patua One', cursive;

}

.form-container input{
  margin: 1rem;
  border-radius: 10px;
  padding: .3rem;
  border: none;
}

.form-container label{
  font-weight: bold;
  font-size: 1.2rem;
}